<template>
    <div class="container-activation">
        <h3>Activate JRiver using .mjr file</h3>
        <ol>
            <li>Get .mjr file from JRivers site: <a href="https://rover.jriver.com/cgi-bin/restore.cgi">https://rover.jriver.com/cgi-bin/restore.cgi</a></li>
            <li>Upload .mjr file below. This will take all required steps to apply the license.</li>
        </ol>

        <div class="file-input">
            <FileInput ref="fileInput" />
        </div>

        <AppButton :disabled="activationInProgress" text="Activate" @click="onClickActivate"/>

        <div class="container-console">
            <ProgressConsole ref="progressConsole"></ProgressConsole>
        </div>
    </div>
</template>

<script setup lang="ts">
import FileInput from '@/components/controls/FileInput.vue';
import AppButton from '@/components/controls/AppButton.vue';
import { onBeforeUnmount, ref } from 'vue';
import ActivationEndpoint from '@/api/ActivationEndpoint';
import ProgressConsole from '@/components/loading/ProgressConsole.vue';
import { showAlert } from '@/components/dialogs/Dialogs';

const fileInput = ref<InstanceType<typeof FileInput>>();
const progressConsole = ref<InstanceType<typeof ProgressConsole>>();
const activationInProgress = ref(false);
let unmounted = false;

async function onClickActivate() {
    const selectedFile = fileInput.value?.getFile();
    if(!selectedFile) {
        showAlert({ message: 'No file selected.' });
        return;
    }

    const response = await ActivationEndpoint.activateMjr(selectedFile);
    
    if(response.status !== 200) {
        showAlert({ message: `Response status ${response.status} does not indicate success.` });
        return;
    }

    if(!response.data.success) {
        showAlert({ message: `Could not initiate activation. Errors: ${JSON.stringify(response.data.errors)}` });
        return;
    }

    activationInProgress.value = true;
    progressConsole.value?.show();
    updateActivationStatus();
}

async function updateActivationStatus() {
    const response = await ActivationEndpoint.activateMjrStatus();

    if(response.status !== 200) {
        showAlert({ message: `Could not get activation status. Response code: ${response.status}` });
        return;
    }

    const data = response.data.output;
    const exitCode = response.data.exitCode;

    progressConsole.value?.updateData(data, exitCode);
    
    if(exitCode == null && !unmounted) {
        setTimeout(updateActivationStatus, 1500);
    } else {
        activationInProgress.value = false;
    }
}

onBeforeUnmount(() => {
    unmounted = true;
});
</script>

<style scoped>
    .container-activation {
        margin-top: 30px;
        margin-left: 20px;
    }
    .container-console {
        margin-top: 10px;
    }
    ol {
        margin-bottom: 15px;
    }
    ol > li:not(:last-child) {
        margin-bottom: 8px;
    }
    h3 {
        margin-bottom: 15px;
    }
    .file-input {
        margin-bottom: 20px;
    }
    a {
        color: #3187C8;
    }
</style>