<template>
    <div class="container-settings">
        <div class="settings-menu">
          <div class="settings-menu-item" :class="$route.name == 'settings-general' ? 'active' : ''">
            <div class="settings-menu-content" :onclick="() => onClickMenuItem('settings-general')">
              <SettingsIcon :width="iconWidth" :height="iconHeight" />
              <label>General</label>
            </div>
          </div>
          <div v-if="authStore.authRequired" class="settings-menu-item" :class="$route.name == 'settings-profile' ? 'active' : ''">
              <div class="settings-menu-content" :onclick="() => onClickMenuItem('settings-profile')">
                  <PersonIcon :width="iconWidth" :height="iconHeight" />
                  <label>Profile</label>
              </div>
          </div>
          <div class="settings-menu-item" :class="$route.name == 'settings-activation' ? 'active' : ''">
              <div class="settings-menu-content" :onclick="() => onClickMenuItem('settings-activation')">
                  <CheckmarkIcon :width="iconWidth" :height="iconHeight" />
                  <label>Activation</label>
              </div>
          </div>
      </div>

      <div class="container-settings-content">
        <router-view></router-view>
      </div>
      
    </div>
</template>

<script setup lang="ts">
import CheckmarkIcon from '@/assets/icons/CheckmarkIcon.vue';
import PersonIcon from '@/assets/icons/PersonIcon.vue';
import SettingsIcon from '@/assets/icons/SettingsIcon.vue';
import { useAuthStore } from '@/store/auth';
import { ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';

const router = useRouter();
const route = useRoute();
const authStore = useAuthStore();

const iconHeight = ref(20);
const iconWidth = ref(20);

function onClickMenuItem(name: string) {
  if(route.name != name) {
    router.push({ name: name });
  }
}
</script>

<style scoped>
  .container-settings {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: min-content 1fr;
  }
  .settings-menu {
      display: flex;
      width: 230px;
      flex-direction: column;
      padding-top: 20px;
      background-color: var(--color-card-background);
      border-right: 1px solid var(--color-app-bar-border);
  }

  .settings-menu-content:hover,
  .settings-menu-content>*:hover {
      cursor: pointer;
  }

  .settings-menu-item.active > .settings-menu-content {
    background: var(--menu-selected-background);
  }
  .settings-menu-item.active > .settings-menu-content > label,
  .settings-menu-item.active > .settings-menu-content > svg {
    color: var(--menu-selected-font-color);
  }

  .settings-menu-content:hover {
      background: var(--menu-hover-background);
  }
  .settings-menu-content:hover > label,
  .settings-menu-content:hover > svg {
    color: var(--menu-hover-font-color);
  }


  .settings-menu-content > label {
    user-select: none;
  }

  .settings-menu-item {
      height: 50px;
      display: flex;
      justify-content: center;
      flex-direction:column;
  }

  .settings-menu-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 7px;
      padding-bottom: 7px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 3px;
      border: 1px;
      background-color: var(--color-card-background);
      box-sizing: content-box;
  }
</style>