<template>
    <svg :width="width" :height="height" viewBox="0 0 512 512">
    <path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" />
    <path d="M352 176L217.6 336 160 272"/></svg>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
    props: {
        width: {
            type: Number,
            default: 32
        },
        height: {
            type: Number,
            default: 32
        }
    }
});
</script>

<style scoped>
svg > path:first-child {
    fill: none; 
    stroke: currentColor; 
    stroke-miterlimit: 10; 
    stroke-width: 32;
}
svg > path:last-child {
    fill: none; 
    stroke: currentColor; 
    stroke-linecap: round; 
    stroke-linejoin: round; 
    stroke-width: 32;
}
</style>