<template>
    <svg :width="width" :height="height" viewBox="0 0 512 512">
        <path d="M368 368L144 144M368 144L144 368"/>
    </svg>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
    props: {
        width: {
            type: Number,
            default: 32
        },
        height: {
            type: Number,
            default: 32
        }
    }
});
</script>

<style scoped>
svg > path {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 32;
}
</style>