<template>
    <svg :width="width" :height="height" viewBox="0 0 512 512">
        <path d="M160,136c0-30.62,4.51-61.61,16-88C99.57,81.27,48,159.32,48,248c0,119.29,96.71,216,216,216,88.68,0,166.73-51.57,200-128-26.39,11.49-57.38,16-88,16C256.71,352,160,255.29,160,136Z" />
    </svg>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
    props: {
        width: {
            type: Number,
            default: 32
        },
        height: {
            type: Number,
            default: 32
        }
    }
});
</script>

<style scoped>
    svg > path {
        fill:none;
        stroke: var(--color-on-background);
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-width:32px
    }
</style>