<template>
    <svg :width="width" :height="height" viewBox="0 0 512 512">
        <line x1="256" y1="48" x2="256" y2="96" />
        <line x1="256" y1="416" x2="256" y2="464" />
        <line x1="403.08" y1="108.92" x2="369.14" y2="142.86" />
        <line x1="142.86" y1="369.14" x2="108.92" y2="403.08" />
        <line x1="464" y1="256" x2="416" y2="256" />
        <line x1="96" y1="256" x2="48" y2="256" />
        <line x1="403.08" y1="403.08" x2="369.14" y2="369.14" />
        <line x1="142.86" y1="142.86" x2="108.92" y2="108.92" />
        <circle cx="256" cy="256" r="80" />
    </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    props: {
        width: {
            type: Number,
            default: 32
        },
        height: {
            type: Number,
            default: 32
        }
    }
});
</script>

<style scoped>
    svg > line,
    svg > circle {
        fill:none;
        stroke: var(--color-on-background);
        stroke-linecap:round;
        stroke-miterlimit:10;
        stroke-width:32px
    }
</style>