<template>
    <AppCard header="Change Username">
        <template #content>
            <!-- dummy inputs to catch firefox autocompletion -->
            <input id="username" type="text" style="display: none">
            <TextInput v-model:value="newUsernameCurPassword" type="password" label="Current Password" autocomplete="off"></TextInput>
            <TextInput v-model:value="newUsernameUsername" label="New Username"></TextInput>
            <TextInput v-model:value="newUsernameUsernameRepeat" label="New Username (repeat)"></TextInput>
        </template>
        <template #actions>
            <AppButton text="Submit" @click="changeUsernameSubmit"></AppButton>
        </template>
    </AppCard>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import AppCard from '@/components/controls/AppCard.vue';
import TextInput from '@/components/controls/TextInput.vue';
import AppButton from '@/components/controls/AppButton.vue';
import AuthEndpoint from '@/api/AuthEndpoint';
import { showAlert } from '@/components/dialogs/Dialogs';

const newUsernameCurPassword = ref('');
const newUsernameUsername = ref('');
const newUsernameUsernameRepeat = ref('');

function clearChangeusernameFields() {
    newUsernameCurPassword.value = '';
    newUsernameUsername.value = '';
    newUsernameUsernameRepeat.value = '';
}

async function changeUsernameSubmit() {
    if(newUsernameCurPassword.value == '') {
        showAlert({ message: 'Password field cannot be empty.' });
        return;
    }

    if(newUsernameUsername.value == '') {
        showAlert({ message: 'New Username field cannot be empty.' });
        return;
    }

    if(newUsernameUsernameRepeat.value == '') {
        showAlert({ message: 'New Username (repeat) field cannot be empty.' });
    }

    if(newUsernameUsername.value != newUsernameUsernameRepeat.value) {
        clearChangeusernameFields();
        showAlert({ message: 'Usernames do not match.' });
        return;
    }

    const response = await AuthEndpoint.changeUsername({ password: newUsernameCurPassword.value, newUsername: newUsernameUsername.value });

    if(response.status !== 200) {
        clearChangeusernameFields();
        showAlert({ message: `Response code ${response.status} does not indicate success.`});
        return;
    }

    if(!response.data || !response.data.success) {
        clearChangeusernameFields();
        showAlert({ message: 'Could not change username.' });
        return;
    }

    clearChangeusernameFields();
    showAlert({
        title: 'Success',
        message: 'Username was changed successfully.'
    });
}
</script>