<template>
    <AppCard header="Change Password">
        <template #content>
            <!-- dummy inputs to catch firefox autocompletion -->
            <input id="password" type="password" style="display: none">
            <TextInput v-model:value="newPasswordCurrentPw" type="password" label="Current Password" autocomplete="off"></TextInput>
            <TextInput v-model:value="newPassword" type="password" label="New Password" autocomplete="new-password"></TextInput>
            <TextInput v-model:value="newPasswordRepeat" type="password" label="New Password (repeat)" autocomplete="new-password"></TextInput>
        </template>
        <template #actions>
            <AppButton text="Submit" @click="changePasswordSubmit"></AppButton>
        </template>
    </AppCard>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import AppCard from '@/components/controls/AppCard.vue';
import { showAlert } from '@/components/dialogs/Dialogs';
import TextInput from '@/components/controls/TextInput.vue';
import AppButton from '@/components/controls/AppButton.vue';
import AuthEndpoint from '@/api/AuthEndpoint';

const newPasswordCurrentPw = ref('');
const newPassword = ref('');
const newPasswordRepeat = ref('');

function clearChangePasswordFields() {
    newPasswordCurrentPw.value = '';
    newPassword.value = '';
    newPasswordRepeat.value = '';
}

async function changePasswordSubmit() {
    if(newPasswordCurrentPw.value == '') {
        showAlert({ message: 'Current Password field cannot be empty.' });
        return;
    }

    if(newPassword.value == '') {
        showAlert({ message: 'New Password field cannot be empty.' });
        return;
    }

    if(newPasswordRepeat.value == '') {
        showAlert({ message: 'New Password (repeat) field cannot be empty.' });
        return;
    }

    if(newPassword.value != newPasswordRepeat.value) {
        clearChangePasswordFields();
        showAlert({ message: 'Passwords do not match' });
        return;
    }

    const response = await AuthEndpoint.changePassword({ password: newPasswordCurrentPw.value, newPassword: newPassword.value });

    if(response.status !== 200) {
        clearChangePasswordFields();
        showAlert({ message: `Response code ${response.status} does not indicate success.`});
        return;
    }

    if(!response.data || !response.data.success) {
        clearChangePasswordFields();
        showAlert({ message: 'Could not change password.'});
        return;
    }

    clearChangePasswordFields();
    showAlert({
        title: 'Success',
        message: 'Password was changed successfully.'
    });
}
</script>