<template>
    <AppModal :visible="isVisible" v-on:close="onClickClose" title="Create Two Factor" v-bind:height="modalHeight" :width="500">
        <template #content>
            <div v-if="created == false" class="container-create">
                <TextInput label="Name" v-model:value="name" :readonly="nameReadonly"/>
                <label :style="showNameRequired ? 'visibility: visible' : 'visibility: hidden'" class="required">Name is required.</label>

                <div class="actions">
                    <AppButton text="Create" v-on:click="onClickCreate" :height="35" :width="100"></AppButton>
                </div>
            </div>
            <div :style="qrCodeStyle" class="container-qrcode">
                <QrCodeCanvas ref="qrCanvas"></QrCodeCanvas>

                <label>Scan QR Code in your Authenticator App of choice.</label>
                <label>This code will only be shown once.</label>

                <AppButton text="Done" v-on:click="onClickDone" :height="35" :width="100"></AppButton>
            </div>
        </template>
    </AppModal>
</template>

<script setup lang="ts">
    import { ref, computed } from 'vue';
    import type { Ref } from 'vue';
    import TextInput from '@/components/controls/TextInput.vue';
    import AppButton from '@/components/controls/AppButton.vue';
    import AuthEndpoint from '@/api/AuthEndpoint';
    import AppModal from '@/components/controls/AppModal.vue';
    import QrCodeCanvas from '@/components/controls/QrCodeCanvas.vue';

    let resolve : ((value: boolean) => void) | null = null;

    const isVisible = ref(false);
    const showNameRequired = ref(false);
    const nameReadonly = ref(false);
    const name = ref('');
    const created = ref(false);
    const qrCanvas: Ref<{ generate: (content: string) => Promise<void> } | undefined> = ref();

    const onClickClose = () => {
        isVisible.value = !isVisible.value;
        if(isVisible.value === true && resolve) {
            resolve(created.value);
            resolve = null;
        }
    };

    const show = () => {
        if(isVisible.value === true) {
            return Promise.resolve(false);
        }

        clear();
        isVisible.value = true;

        return new Promise((r, _) => {
            resolve = r; 
        });
    };

    const onClickCreate = async () => {
        if(name.value === '') {
            showNameRequired.value = true;
            return;
        }

        const response = await AuthEndpoint.createTwoFactor({ name: name.value });

        nameReadonly.value = true;
        
        await qrCanvas.value?.generate(response.data.totpKeyUri);

        created.value = true;
    };

    const onClickDone = () => {
        if(isVisible.value === true && resolve) {
            isVisible.value = false;
            resolve(true);
        }
    };

    const clear = () => {
        showNameRequired.value = false;
        nameReadonly.value = false;
        name.value = '';
        created.value = false;
    };

    const qrCodeStyle = computed(() => {
        const isCreated = created.value;

        if(isCreated) return {
            "display": "flex"
        };

        return {
            "display": "none"
        };
    });

    const modalHeight = computed(() => {
        if(created.value) return 380;
        return 250;
    });

    defineExpose({ show });
</script>

<style scoped>
    .required {
        margin-top: 10px;
        color: var(--color-danger);
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
    }

    .container-create {
        display: flex;
        flex-direction: column;
        padding: 10px 50px;
    }

    .container-qrcode {
        align-items: center;
        gap: 15px;
        padding: 15px 30px;
        flex-direction: column;
    }
</style>