<template>
    <div class="profile-container">
        <ChangePasswordCard />
        <ChangeUsernameCard />
    </div>

    <div class="container-two-factor">
        <TwoFactorCard />
    </div>

</template>

<script setup lang="ts">
import ChangeUsernameCard from './ChangeUsernameCard.vue';
import ChangePasswordCard from './ChangePasswordCard.vue';
import TwoFactorCard from './TwoFactorCard.vue';
</script>

<style scoped>
.profile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 16px;
    margin-top: 30px;
    width: calc(100% - 60px);
    padding: initial;
    margin-left: 30px;
    margin-right: 30px;
}
.container-two-factor {
    margin-left: 30px;
    margin-right: 30px;
    min-width: 0px;
    width: 570px;
    max-width: 100%;
    margin-top: 26px;
}
@media screen and (max-width: 645px) {
    .profile-container {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px;
        width: calc(100% - 30px);
        max-width: calc(100% - 30px);
        justify-content: flex-start;
    }
    .container-two-factor {
        margin-top: 16px;
    }
}
</style>