<template>
    <CreateTwoFactor ref="createTwoFactor"/>
    <AppCard header="Two Factors">
        <template #content>
            <div class="flex-row">
                <label class="label">Enabled</label>
                <ToggleButton v-model:enabled="enabled" @on-changed="toggle2FaEnabled"/>
            </div>
            <label v-if="!enabledGlobal" class="text-warn">Two Factor authentication is disabled globally.</label>
            <DataTable :table="(table as Table<unknown>)" heading="Methods" :min-height="200" :max-height="300">
                <template #actions>
                    <AppButton text="Create" @click="onClickCreateTwoFactor"></AppButton>
                </template>
            </DataTable>
        </template>
    </AppCard>
</template>

<script setup lang="tsx">
import { onMounted, ref } from 'vue';
import { createColumnHelper, useVueTable, getCoreRowModel, getSortedRowModel } from '@tanstack/vue-table';
import type { SortingState, CellContext, Table } from '@tanstack/vue-table';
import DataTable from '@/components/controls/table/DataTable.vue';
import AppButton from '@/components/controls/AppButton.vue';
import AuthEndpoint from '@/api/AuthEndpoint';
import TrashIcon from '@/assets/icons/TrashIcon.vue';
import AppCard from '@/components/controls/AppCard.vue';
import type { GetTwoFactorResponseItem } from '@/api/AuthEndpoint';
import ToggleButton from '@/components/controls/ToggleButton.vue';
import CreateTwoFactor from './CreateTwoFactor.vue';
import { showAlert, showConfirm } from '@/components/dialogs/Dialogs';
import { formatDateTime } from '@/utils/DateUtils';

const createTwoFactor = ref<InstanceType<typeof CreateTwoFactor>>();

const data = ref(new Array<GetTwoFactorResponseItem>());
const enabled = ref(false);
const enabledGlobal = ref(true);

const columnHelper = createColumnHelper<GetTwoFactorResponseItem>();

const sorting = ref<SortingState>([]);

const columns = [
    columnHelper.accessor(row => row.name, {
        id: 'name',
        header: 'Name',
        enableResizing: true
    }),
    columnHelper.accessor(row => row.twoFactorMethod, {
        id: 'twoFactorMethod',
        header: 'Method',
        enableResizing: true,
        size: 100
    }),
    columnHelper.accessor(row => row.createdAt, {
        id: 'createdAt',
        header: 'Created At',
        enableResizing: true,
        cell: row => {
            return formatDateTime(row.getValue());
        }
    }),
    columnHelper.display({
        id: 'actions',
        header: 'Actions',
        enableResizing: false,
        size: 60,
        cell: row => {
            return <AppButton background-color="var(--color-danger)" onClick={() => onClickDelete(row)}>
                <TrashIcon height={16} width={16}/>
            </AppButton>;
        }
    })
];

const table = useVueTable({
    get data() {
        return data.value;
    },
    state: {
        get sorting() {
            return sorting.value;
        }
    },
    onSortingChange: updaterOrValue => {
        sorting.value = typeof updaterOrValue === 'function'
            ? updaterOrValue(sorting.value)
            : updaterOrValue;
    },
    columns,
    getSortedRowModel: getSortedRowModel(),
    getCoreRowModel: getCoreRowModel(),
    columnResizeMode: 'onChange',
    enableColumnResizing: true
});

onMounted(async () => {
    await Promise.all([
        loadTwoFaEnabled(),
        loadData()
    ]);
});

const loadData = async function() {
    const response = await AuthEndpoint.getTwoFactors();
    data.value = response.data.factors;
};

const loadTwoFaEnabled = async function() {
    const response = await AuthEndpoint.getTwofactorEnabled();
    enabled.value = response.data.enabled;
    enabledGlobal.value = response.data.enabledGlobal;
};

const toggle2FaEnabled = async function(newValue: boolean) {
    const response = await AuthEndpoint.postTwoFactorEnabled({
        enabled: newValue
    });

    if(response.status !== 200) {
        await showAlert({
            title: "Error",
            message: `Request failed with status code ${response.status}`
        });
        enabled.value = !newValue;
        return;
    }

    if(response.data.success !== true) {
        await showAlert({
            title: "Error",
            message: response.data.errors[0]
        });
        enabled.value = false;
        return;
    }
};

const onClickCreateTwoFactor = async () => {
    if(!createTwoFactor.value) return;

    const reload = await createTwoFactor.value.show();

    if(reload) {
        await Promise.all([
            loadTwoFaEnabled(),
            loadData()
        ]);
    }
};

const onClickDelete = async (cell: CellContext<GetTwoFactorResponseItem, unknown>) => {
    const index = cell.row.index;
    const id = data.value[index].id;
    const name = data.value[index].name;

    const deleteItem = await showConfirm({
        title: "Confirm Deletion",
        message: `Are you sure you want to delete '${name}'?`
    });

    if(deleteItem) {
        const response = await AuthEndpoint.deleteTwoFactor(id);

        if(response.status == 200 && response.data.success) {
            await Promise.all([
                loadTwoFaEnabled(),
                loadData()
            ]);
        } else {
            showAlert({
                title: 'Error',
                message: 'Could not delete TwoFa method.'
            });
        }
    }
};
</script>

<style scoped>
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.text-warn {
    color: var(--color-danger);
}
.label {
    color: var(--color-on-background-light);
}
</style>