:root {
    --color-background: #dadce6;
    --color-on-background: #000000;
    --color-on-background-light: #5e5e5e;
    --color-foreground: #c4c6d2;
    --color-foreground-border: #5e5e5e;
    --color-on-foreground: #2d2d35cc;
    --color-accent: #3895c4;
    --color-app-bar: #c4c6d2;
    --color-app-bar-title: #5e5e5e;
    --color-app-bar-border: #b5aeae;
    --color-toggle-circle: white;
    --color-toggle-background: gray;
    --color-toggle-border: #c2c2c2;
    --color-toggle-border-hover: #5e5e5e;
    --color-image-button: #444242;
    --color-image-button-hover: black;
    --color-modal-blur: rgb(104, 104, 104);
    --color-success: green;
    --color-danger: #EC5941;
    --color-card-background: #c4c6d2;
    --color-card-seperator: #8b8b8b;
    --color-heading: #363642;
    --color-scrollbar: #959595;
    --color-scrollbar-selected: #787878;
    /* Menu styles */
    --menu-background: #c4c6d2;
    --menu-border: #b5aeae;
    --menu-selected-background: #3895c4;
    --menu-selected-font-color: #353438;
    --menu-hover-background: #a0a2ad;
    --menu-hover-font-color: #353438;
    /* Totp Input */
    --totp-input-background: #dadce6;
    --totp-input-border-color: #aaaaaa;
    /* Table */
    --data-table-border-color: #94959f;
    --data-table-header-background: #94959f;
    --data-table-background: #c4c6d2;
}

[data-theme="dark"] {
    --color-background: #1f1f1f;
    --color-on-background: white;
    --color-on-background-light: rgb(168, 168, 168);
    --color-foreground: #262629;
    --color-foreground-border: #423e3e;
    --color-on-foreground: rgb(200, 200, 200);;
    --color-accent: #4FBEF5;
    --color-app-bar: #2b2a33;
    --color-app-bar-title: #808080;
    --color-app-bar-border: #423e3e;
    --color-toggle-circle: black;
    --color-toggle-background: gray;
    --color-toggle-border: #333131;
    --color-toggle-border-hover: #8e8e8e;
    --color-image-button: #808080;
    --color-image-button-hover: black;
    --color-modal-blur: rgb(160, 160, 160);
    --color-success: green;
    --color-danger: #EC5941;
    --color-card-background: #2b2a33;
    --color-card-seperator: #423e3e;
    --color-heading: #d6d8dc;
    --color-scrollbar: #959595;
    --color-scrollbar-selected: #787878;
    /* Menu styles */
    --menu-background: #2b2a33;
    --menu-border: #3e3e3e;
    --menu-selected-background: #4FBEF5;
    --menu-selected-font-color: #353438;
    --menu-hover-background: #c5c3cf;
    --menu-hover-font-color: #353438;
    /* Totp Input */
    --totp-input-background: #303030;
    --totp-input-border-color: #5e5e5e;
    /* Table */
    --data-table-border-color: #5e5e5e;
    --data-table-header-background: #605d72;
    --data-table-background: #2b2a33;
}

@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
}

h1, h2, h3, h4, h5, label, button, li {
    font-family: 'Roboto';
}

ol, ul {
    list-style-position: inside;
}

html,
#app,
.container-app {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
    color: var(--color-on-background);
    transition: background-color 0.3s ease-in-out;
}

.container-content {
    height: calc(100vh - 53px);
    overflow-y: auto;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-selected);
}