<template>
    <div class="appbar">
        <div class="appbar-left" @click="onClickHome">
            <img class="logo" src="@/assets/icon.png" />
            <label class="title">{{ APP_NAME }}</label>
        </div>
        <div class="appbar-right">
            <ImageButton v-if="showVNCControls" title="Clipboard" @click="onClickClipboard">
                <ClipboardIcon :height="18" :width="18" />
            </ImageButton>
            <ThemeToggle />
            <ImageButton :title="isSettingsPage ? 'Home' : 'Settings'" @click="onClickSettings">
                <HomeIcon v-if="isSettingsPage" :height="18" :width="18" />
                <SettingsIcon v-else :height="18" :width="18" />
            </ImageButton>
            <ImageButton v-if="authStore.authRequired" title="Logout" @click="onClickLogout">
                <LogoutIcon :height="20" :width="20" />
            </ImageButton>
        </div>
    </div>
</template>

<script setup lang="ts">
import { useAuthStore } from '@/store/auth';
import { useRouter, useRoute } from 'vue-router';
import { computed } from 'vue';
import ThemeToggle from './ThemeToggle.vue';
import ClipboardIcon from '@/assets/icons/ClipboardIcon.vue';
import ImageButton from '@/components/controls/ImageButton.vue';
import SettingsIcon from '@/assets/icons/SettingsIcon.vue';
import HomeIcon from '@/assets/icons/HomeIcon.vue';
import LogoutIcon from '../../assets/icons/LogoutIcon.vue';
import AuthEndpoint from '@/api/AuthEndpoint';

const authStore = useAuthStore();
const router = useRouter();
const route = useRoute();

const APP_NAME = import.meta.env.VITE_APP_NAME;

const showVNCControls = computed(() => route.name === 'home');
const isSettingsPage = computed(() => route.path.startsWith('/settings'));

function onClickHome() {
    router.push({ name: 'home' });
}

function onClickSettings() {
    if(isSettingsPage.value) {
        router.push({ name: 'home' });
    } else {
        router.push({ name: 'settings-general' });
    }
}

function onClickClipboard() {
    const event = new Event('onClickClipboard');
    document.dispatchEvent(event);
}

async function onClickLogout() {
    if(authStore.token && authStore.refreshToken) {
        await AuthEndpoint.logout({ token: authStore.token, refreshToken: authStore.refreshToken});
    }
    authStore.logout();
    await router.push({name: 'login'});
}
</script>

<style scoped>
    .appbar {
        height: 52px;
        width: 100%;
        border-bottom: 1px solid var(--color-app-bar-border);
        background-color: var(--color-app-bar);
        display: flex;
        flex-direction: row;
        transition: background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    }
    .appbar-left,
    .appbar-right {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .appbar-right {
        justify-content: flex-end;
        padding-right: 6px;
        gap: 15px;
        flex-grow: 1;
    }
    .logo {
        height: calc(100% - 10px);
        width: auto;
        padding: 6px;
    }
    .title {
        font-family: 'Roboto';
        color: var(--color-app-bar-title);
        font-weight: 400;
        transition: color 0.3s ease-in-out;
        -webkit-user-select: none;      
        -moz-user-select: none;
        user-select: none;
    }

    .appbar-left:hover,
    .appbar-left > *:hover {
        cursor: pointer;
    }
</style>