<template>
  <RenderDialogs />
  <div class="container-app">
      <AppBar/>

      <div class="container-content">
        <slot></slot>
      </div>
  </div>
</template>

<script setup lang="ts">
import AppBar from './AppBar.vue';
import RenderDialogs from '../dialogs/RenderDialogs.vue';
</script>