<template>
    <button class="theme-toggle" :class="theme === 'dark' ? 'on' : 'off'" @click="toggleTheme" arial-label="Toggle theme">
        <div class="circle">
            <MoonIcon v-if="theme === 'dark'" :height="16" :width="16" />
            <SunIcon v-if="theme !== 'dark'" :height="16" :width="16" />
        </div>
    </button>
</template>

<script setup lang="ts">
import MoonIcon from '@/assets/icons/MoonIcon.vue';
import SunIcon from '@/assets/icons/SunIcon.vue';
import { onMounted, ref } from 'vue';

const theme = ref('');
const KEY_THEME = 'THEME';  

onMounted(() => {
    const storedTheme = localStorage.getItem(KEY_THEME);
    if(storedTheme) 
        theme.value = storedTheme;
    else {
        theme.value = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        localStorage.setItem(KEY_THEME, theme.value);
    }
    document.documentElement.setAttribute('data-theme', theme.value);
});

function toggleTheme() {
    theme.value = theme.value === 'dark' ? 'light' : 'dark';
    document.documentElement.setAttribute('data-theme', theme.value);
    localStorage.setItem(KEY_THEME, theme.value);
} 
</script>

<style scoped>
button {
    width: 40px;
    height: 20px;
    box-sizing: content-box;
    border-radius: 36px;
    border: 1px solid var(--color-toggle-border);
    position: relative;
    background-color: var(--color-toggle-background);
}

button:hover {
    cursor: pointer;
    border-color: var(--color-toggle-border-hover);
}

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--color-toggle-circle);
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    transition: left .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.on > .circle {
    left: 20px;
}
</style>