<template>
    <div class="page-container">
        <div class="container-options">
            <ThemeToggle></ThemeToggle>
        </div>

        <form class="container-adopt" @submit.prevent="onClickAdopt">
            <div class="adopt-header">
                <label class="title">Adopt</label>
            </div>
            <div class="adopt-content">
                <TextInput v-model:value="username" label="Username"></TextInput>
                <TextInput v-model:value="password" label="Password" type="password"></TextInput>
                <TextInput v-model:value="passwordRepeat" label="Password (repeat)" type="password"></TextInput>
            </div>
            <div class="adopt-controls">
                <AppButton text="Adopt"></AppButton>
            </div>
        </form>
    </div>
</template>

<script setup lang="ts">
import TextInput from '@/components/controls/TextInput.vue';
import AppButton from '@/components/controls/AppButton.vue';
import ThemeToggle from '@/components/layout/ThemeToggle.vue';
import AuthEndpoint from '@/api/AuthEndpoint';
import { useAuthStore } from '@/store/auth';
import { useRouter } from 'vue-router';
import { ref } from 'vue';
import { showAlert } from '@/components/dialogs/Dialogs';

const username = ref('');
const password = ref('');
const passwordRepeat = ref('');

const router = useRouter();
const authStore = useAuthStore();

async function onClickAdopt() {
    if(password.value != passwordRepeat.value) {
        showAlert({ message: 'Passwords do not match.' });
        return;
    }

    const response = await AuthEndpoint.adopt({ username: username.value, password: password.value });
    if(response.status !== 200 || !response?.data?.success) {
        showAlert({ message: 'Could not adopt.' });
        return;
    }

    const loginResponse = await AuthEndpoint.login({ username: username.value, password:password.value, twoFactorCode: null });

    if(loginResponse.status !== 200 || !loginResponse?.data?.success || !loginResponse.data.token || !loginResponse.data.refreshToken) {
        showAlert({ message: 'Could not adopt'});
        return;
    }

    authStore.setJwt(loginResponse.data.token, loginResponse.data.refreshToken);
    authStore.setIsAdoptable(false);
    router.push({ name: 'home' });
}
</script>

<style scoped>

.page-container {
    height: 100dvh;
    width: 100vw;
}

.container-adopt {
    width: 500px;
    height: 325px;
    position:  absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--color-foreground-border);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
}

.adopt-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-grow: 1;
    justify-content: center;
}

.adopt-header {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.adopt-controls {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.title {
    user-select: none;
    color: var(--color-on-background-light);
    font-size: 28px;
}

.container-options {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 5px;
}

@media only screen and (max-width: 550px) {
    .container-adopt {
        width: calc(100% - 40px);
    }
}

</style>