<template>
  <div class="container-home">
      <VNCViewer />
  </div>
</template>

<script setup lang="ts">
import VNCViewer from '@/components/VNCViewer.vue';
</script>

<style scoped>
  .container-home {
    display: flex;
    margin-top: 15px;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
</style>

