<template>
    <div class="page-container">
        <div class="container-options">
            <ThemeToggle></ThemeToggle>
        </div>

        <form class="container-login" @submit.prevent="onClickLogin">
            <div class="login-header">
                <label class="title">Login</label>
            </div>

            <!-- Login -->
            <div :style="displaylogin" class="login-content">
                <TextInput v-model:value="username" label="Username"></TextInput>
                <TextInput v-model:value="password" label="Password" type="password"></TextInput>
            </div>
            <div :style="displaylogin" class="login-controls">
                <AppButton text="Login"></AppButton>
            </div>

            <!-- 2 fa -->
            <div :style="display2fa" class="two-fa-content">
                <label>Enter code from your Authenticator app.</label>
                <TotpCodeInput ref="totpInput" v-on:on-code-complete="onCodeComplete" />
            </div>

            <div :style="display2fa" class="two-fa-controls">
                <AppButton text="Cancel" background-color="var(--color-danger)" @click="onClickCancelTwoFa"></AppButton>
            </div>
        </form>
    </div>
</template>

<script setup lang="ts">
import TextInput from '@/components/controls/TextInput.vue';
import AppButton from '@/components/controls/AppButton.vue';
import ThemeToggle from '@/components/layout/ThemeToggle.vue';
import { useAuthStore } from '@/store/auth';
import { useRouter } from 'vue-router';
import AuthEndpoint from '@/api/AuthEndpoint';
import { ref, computed, nextTick, onMounted, onBeforeUnmount } from 'vue';
import TotpCodeInput from '@/components/controls/TotpCodeInput.vue';
import { showAlert } from '@/components/dialogs/Dialogs';

const username = ref('');
const password = ref('');

const authStore = useAuthStore();
const router = useRouter();
const totpInput = ref<InstanceType<typeof TotpCodeInput>>();
const enter2fa = ref(false);

const displaylogin = computed(() => {
    if(enter2fa.value) {
        return { 'display': 'none' };
    }
    return { 'display': 'flex' };
});

const display2fa = computed(() => {
    if(enter2fa.value) {
        return { 'display': 'flex' };
    }
    return { 'display': 'none' };
});

async function onClickLogin() {

    try {
        const response = await AuthEndpoint.login({ 
            username: username.value, 
            password: password.value,
            twoFactorCode: null
        });

        if(response.status !== 200) {
            showAlert({ message: `Could not log you in. Connection Error (code: ${response.status}).` });
            return;
        }

        if(response.data.success && response.data.token && response.data.refreshToken) {
            authStore.setJwt(response.data.token, response.data.refreshToken);
            router.push({ name: 'home' });
        } else if(response.data.twoFactorRequired) {
            enter2fa.value = true;
            nextTick(() => {
                totpInput.value?.focusInput();
            });
        } else {
            showAlert({ message: 'Could not log you in. Username or password may be wrong.'});
        }
    } catch {
        showAlert({ message: 'Could not log you in. Connection Error.' });
    }
}

function onClickCancelTwoFa(e: Event) {
    e.preventDefault(); 
    enter2fa.value = false;
    totpInput.value?.clear();
}

async function onCodeComplete(code: string) {
    const response = await AuthEndpoint.login({ 
        username: username.value, 
        password: password.value,
        twoFactorCode: code
    });

    if(response.data.success && response.data.token && response.data.refreshToken) {
        authStore.setJwt(response.data.token, response.data.refreshToken);
        router.push({ name: 'home' });
    } else {
        totpInput.value?.showError();
    }
}

const onPaste = (event: ClipboardEvent) => {
    if(!enter2fa.value) return;
    totpInput.value?.pasteHandler(event);
}

onMounted(() => {
    window.addEventListener('paste', onPaste);
});

onBeforeUnmount(() => {
    window.removeEventListener('paste', onPaste);
});
</script>

<style scoped>

.page-container {
    height: 100dvh;
    width: 100vw;
}

.container-login {
    width: 500px;
    height: 250px;
    position:  absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--color-foreground-border);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
}

.login-content {
    flex-direction: column;
    gap: 25px;
    flex-grow: 1;
    justify-content: center;
}

.login-header {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.login-controls {
    height: 50px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.title {
    user-select: none;
    color: var(--color-on-background-light);
    font-size: 28px;
}

.container-options {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 5px;
}

.two-fa-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.two-fa-content > label {
    color: var(--color-on-background-light);
}

.two-fa-controls {
    height: 50px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}

@media only screen and (max-width: 550px) {
    .container-login {
        width: calc(100% - 40px);
    }
}
</style>