<template>
    <div class="container-general-settings">
        <div class="vnc-settings">
            <VNCSettingsCard />
        </div>
        <div class="version-card">
            <VersionCard />
        </div>
    </div>
</template>

<script setup lang="ts">
import VersionCard from './VersionCard.vue';
import VNCSettingsCard from './VNCSettingsCard.vue';
</script>

<style scoped>
    .vnc-settings {
        flex-grow: 1;
        max-width: 645px;
    }
    .version-card {
        flex-grow: 1;
        max-width: 290px;
    }
    .container-general-settings {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 16px;
        margin-top: 30px;
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-right: 30px;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 645px) {
        .container-general-settings {
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            margin-left: 15px;
            width: calc(100% - 30px);
        }
    }
</style>