<template>
    <AppCard>
        <template #content>
            <DataTable :table="(table as Table<unknown>)" heading="Users">
                <template #actions>
                    <AppButton text="Create" @click="onClickCreateUser"></AppButton>
                </template>
            </DataTable>
        </template>
    </AppCard>
</template>

<script setup lang="tsx">
import { ref } from 'vue';
import { createColumnHelper, useVueTable, getCoreRowModel, getSortedRowModel } from '@tanstack/vue-table';
import type { SortingState, CellContext, Table } from '@tanstack/vue-table';
import AppCard from '@/components/controls/AppCard.vue';
import AppButton from '@/components/controls/AppButton.vue';
import DataTable from '@/components/controls/table/DataTable.vue';
import TrashIcon from '@/assets/icons/TrashIcon.vue';

interface User {
    name: string,
    role: string,
    twofa: boolean
}

const users: User[] = [...Array(50)].map((_, index) => {
    return     {
        name: `User${index}`,
        role: index % 2 == 0 ? "Admin" : "Member",
        twofa: index % 2 == 0
    };
});

const data = ref(users);

const columnHelper = createColumnHelper<User>();

const sorting = ref<SortingState>([]);

const columns = [
    columnHelper.accessor(row => row.name, {
        id: 'name',
        header: 'Name'
    }),
    columnHelper.accessor(row => row.role, {
        id: 'role',
        header: 'Role'
    }),
    columnHelper.accessor(row => row.twofa, {
        id: 'twofa',
        header: '2FA',
        cell: row => {
            return row.getValue() ? "Yes" : "No";
        }
    }),
    columnHelper.display({
        id: 'actions',
        header: 'Actions',
        cell: row => {
            return <AppButton background-color="var(--color-danger)" onClick={() => onClickDelete(row)}>
                <TrashIcon height={16} width={16}/>
            </AppButton>;
        }
    })
];

const table = useVueTable({
    get data() {
        return data.value;
    },
    state: {
        get sorting() {
            return sorting.value;
        }
    },
    onSortingChange: updaterOrValue => {
        sorting.value = typeof updaterOrValue === 'function'
            ? updaterOrValue(sorting.value)
            : updaterOrValue;
    },
    columns,
    getSortedRowModel: getSortedRowModel(),
    getCoreRowModel: getCoreRowModel(),
    columnResizeMode: 'onChange',
    enableColumnResizing: true
});

const onClickCreateUser = () => {
    console.log('On Click Create');
};

const onClickDelete = (cell: CellContext<User, unknown>) => {
    console.log('On Click Delete', cell, cell.getValue());
};
</script>
