<template>
    <AppCard header="Image Version">
        <template #content>
            <table v-if="versionRef" class="version-table">
                <tr>
                    <th>Version</th>
                    <td>{{ versionRef.imageVersion }}</td>
                </tr>
                <tr>
                    <th>Uses Repository</th>
                    <td>{{ versionRef.usesRepository ? "Yes" : "No" }}</td>
                </tr>
                <tr v-if="versionRef.usesRepository == false">
                    <th>Deb URL</th>
                    <td>
                        <a :href="versionRef.debUrl">{{ versionRef.debUrlVersion }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Media Center Tag</th>
                    <td>{{ versionRef.mediaCenterTag }}</td>
                </tr>
            </table>
            <div v-else>
                <label>{{ placeholderText }}</label>
            </div>
        </template>
    </AppCard>
</template>

<script lang="ts" setup>
import AppCard from '@/components/controls/AppCard.vue';
import GeneralEndpoint from '@/api/GeneralEndpoint';
import type { GetVersionResponse } from '@/api/GeneralEndpoint';
import { ref, onMounted } from 'vue';

interface VersionDisplay extends GetVersionResponse {
    debUrlVersion: string | undefined
}

const versionRef = ref<VersionDisplay>();
const placeholderText = ref("Loading...");

// eslint-disable-next-line
const extractVersion = new RegExp("[0-9]{2}\.[0-9]+\.[0-9]+");

onMounted(async () => {
    const response = await GeneralEndpoint.getVersion();

    if(!response || !response.status || response.status !== 200) {
        placeholderText.value = "Failed loading version";
        return;
    }

    if(response.data.usesRepository) {
        versionRef.value = response.data as VersionDisplay;
    } else {
        const match = response.data.debUrl.match(extractVersion);

        versionRef.value = {
            ...response.data,
            debUrlVersion: match ? match[0] : "n/a"
        };
    }
});

</script>

<style scoped>
    tr > td,
    tr > th {
        font-family: 'Roboto';
        text-align: left;
        padding: 3px;
    }
    tr > td {
        color: var(--color-on-background-light)
    }
    tr > th {
        color: var(--color-on-foreground)
    }
</style>