<template>
    <AppCard header="VNC Options">
        <template #content>

            <div class="vnc-dimensions">
                <NumericTextInput
                    v-model:value="width"
                    name="width"
                    label="Width (px)"/>

                <NumericTextInput
                    v-model:value="height"
                    name="height"
                    label="Height (px)"/>

                <AppButton text="Apply" @click="onClickApplyResolution" :height="20" :width="150"/>
            </div>

            <div class="vnc-levels">
                <AppDropdown
                    :items="levelItems"
                    :initialSelection="getInitialLevel(vncStore?.compressionLevel)"
                    label="Compression Level"
                    clearText="Use default"
                    placeholder="2 (default)"
                    v-on:on-selection-changed="onCompressionSelectionChanged"/>
                
                <AppDropdown
                    :items="levelItems"
                    :initialSelection="getInitialLevel(vncStore?.quality)"
                    label="Quality"
                    clearText="Use default"
                    placeholder="6 (default)"
                    v-on:on-selection-changed="onQualitySelectionChanged" />
            </div>


        </template>
    </AppCard>
</template>

<script lang="ts" setup>
import AppCard from '@/components/controls/AppCard.vue';
import AppDropdown from '@/components/controls/AppDropdown.vue';
import AppButton from '@/components/controls/AppButton.vue';
import type { Level } from '@/store/vnc';
import { useVncStore, isLevel } from  '@/store/vnc';
import NumericTextInput from '@/components/controls/NumericTextInput.vue';
import { ref } from 'vue';
import { showAlert } from '@/components/dialogs/Dialogs';

const vncStore = useVncStore();

const width = ref<number | undefined>();
const height = ref<number | undefined>();
if(vncStore.resolution) {
    width.value = vncStore.resolution.width;
    height.value = vncStore.resolution.height;
}

const onClickApplyResolution = function() {
    if(!width?.value && !height?.value) {
        vncStore.setResolution(null);
        showAlert({ message: `Resolution updated (using default: ${vncStore.defaultResolution.width}x${vncStore.defaultResolution.height}).` });
        return;
    }

    if(!width?.value || !height?.value) {
        showAlert({ message: 'Invalid resolution (leave both empty to reset to default).' });
        return;
    }

    const newWidth = width.value;
    const newHeight = height.value;

    if(newWidth < 400 || newHeight < 400) {
        showAlert({ message: 'Minimum value for resolution demensions is 400px.' });
        return;
    }

    vncStore.setResolution({ width: newWidth, height: newHeight });
    showAlert({ message: 'Resolution updated.' });
};

/* Items for compression level and quality setting */
const levelItems = Array.from({ length: 9 },  (_, i) => (i + 1).toString());
const getInitialLevel = function(value: Level | null) {
    if(isLevel(value)) return value - 1;
    return undefined;
};

const onCompressionSelectionChanged = function(index: number | null) {
    if(index === null || index === undefined || !isLevel(index + 1)) {
        vncStore.setCompressionLevel(null);
        return;
    }

    vncStore.setCompressionLevel(index + 1 as Level);
};

const onQualitySelectionChanged = function(index: number | null) {

    if(index === null || index === undefined || !isLevel(index + 1)) {
        vncStore.setQuality(null);
        return;
    }

    vncStore.setQuality(index + 1 as Level);
};

</script>

<style scoped>
.dropdown {
    margin-top: 15px;
}
.dropdown:last-child {
    margin-bottom: 8px;
}
.vnc-dimensions {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-end;
}
.vnc-levels {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}
.vnc-levels > * {
    max-width: 300px;
}
</style>