<template>
    <button @click="props.onClick" ref="btnElement" class="app-button" :style="disabled ? '' : styles" :disabled="disabled">
        <slot></slot>
        {{ text }}
    </button>
</template>

<script lang="ts" setup>

const props = defineProps({
    text: {
        type: String,
        default: ''
    },
    backgroundColor: {
        type: String,
        default: 'var(--color-accent)'
    },
    disabled: {
        type: Boolean,
        default: false
    },
    onClick: {
        type: Function
    },
    width: {
        type: Number,
        default: null
    },
    height: {
        type: Number,
        default: null
    }
});

const styles = {
    'background-color': props.backgroundColor.toString(),
    'height': props.height !== null ? `${props.height}px` : 'auto',
    'width': props.width !== null ? `${props.width}px` : 'auto',
};
</script>

<style scoped>
    .app-button {
        padding: 5px 8px 5px 8px;
        border-radius: 4px;
        color: white;
        font-size: 14px;
        position: relative;
        overflow: hidden;
    }

    .app-button:disabled {
        background-color: gray;
    }

    .app-button:hover {
        cursor: pointer;
        filter: brightness(90%);
    }

    .app-button:disabled:hover {
        cursor: not-allowed;
    }
</style>