<template>
    <div class="card-container" :style="computedStyle">
        <div v-if="header !== ''" class="card-header">
            <label>{{ header }}</label>
        </div>
        <div class="card-content">
            <slot name="content"></slot>
        </div>
        <div v-if="hasActions" class="card-actions">
            <slot name="actions"></slot>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed, useSlots } from 'vue';

const slots = useSlots();

const props = defineProps({
    header: {
        type: String,
        default: ''
    },
    width: {
        type: Number,
        default: null
    }
});

const hasActions = computed(() => !!slots.actions);
const computedStyle = computed(() => {
    if(!props.width) return "100%";

    return `width: ${props.width}px;`;
});
</script>

<style scoped>
    .card-header {
        height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: var(--color-card-background);
    }

    .card-header > label {
        color: var(--color-heading);
        font-size: 24px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: var(--color-card-background);
        padding: 15px;
    }

    .card-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 40px;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 4px;
        background-color: var(--color-card-background);
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
</style>