<template>
    <div :class="dropdownActive ? 'active' : ''" 
        class="dropdown"
        @click="onClickDropdown"
        ref="dropdownDiv">
        <div class="select">
            <label class="label">{{ label }}</label>
            <label class="placeholder">{{ displayText }}</label>
            <div class="caret"></div>
        </div>
        <ul @click.stop>
            <li v-if="disableClear !== true && selectedIndex !== null"
                @click.stop="onClickClear">
                {{ clearText }}
            </li>
            <li v-for="(item, index) in items" 
                :key="index"
                :class="index == selectedIndex ? 'active' : ''"
                @click.stop="() => onClickItem(index)">
                {{ item }}
            </li>
        </ul>
    </div>
</template>

<script lang="ts" setup>
import { ref, computed, onBeforeMount, onBeforeUnmount } from 'vue';

const dropdownDiv = ref<HTMLDivElement>();

const props = defineProps({
    label: {
        type: String,
        default: ''
    },
    placeholder: {
        type: String,
        default: ''
    },
    disableClear: {
        type: Boolean,
        default: false
    },
    clearText: {
        type: String,
        default: 'Clear Selection'
    },
    items: {
        type: Array<string>,
        default: []
    },
    initialSelection: {
        type: Number,
        default: undefined
    }
});

const emit = defineEmits<{
    (e: 'onSelectionChanged', index: number | null): void
}>();

onBeforeMount(() => {
    document.addEventListener('click', onClickDocument);
});

onBeforeUnmount(() => {
    document.removeEventListener('click', onClickDocument);
});

const selectedIndex = ref<number | undefined>(props.initialSelection);

const displayText = computed(() => {
    const index = selectedIndex.value;
    if(index === null || index === undefined || !props.items) return props.placeholder;
    return props.items[index];
});

const dropdownActive = ref<boolean>(false);

const onClickDropdown = function() {
    dropdownActive.value = !dropdownActive.value;
};

const onClickItem = function(index: number) {
    dropdownActive.value = false;
    if(index != selectedIndex.value) {
        selectedIndex.value = index;
        emit('onSelectionChanged', index);
    }
};

const onClickClear = function() {
    dropdownActive.value = false;
    if(selectedIndex.value !== null && selectedIndex.value !== undefined) {
        selectedIndex.value = undefined;
        emit('onSelectionChanged', null);
    }
};

const onClickDocument = (e: MouseEvent) => {
    if(dropdownDiv.value) {
        const target = e.target as HTMLElement;
        const targetRect = target.getBoundingClientRect();
        const dropdownRect = dropdownDiv.value.getBoundingClientRect();

        if(targetRect.y >= dropdownRect.y && targetRect.x <= dropdownRect.x
            && targetRect.y <= dropdownRect.y + dropdownRect.height
            && targetRect.x <= dropdownRect.x + dropdownRect.width) {
            return;
        }
    }

    if(dropdownActive.value)
        dropdownActive.value = false;
};

</script>

<style scoped>
    .dropdown {
        width: 100%;
        height: 55px;
        padding:0;
        margin:0;
        position: relative;
    }

    .dropdown:hover,
    .select:hover,
    .select > *:hover {
        cursor: pointer;
    }

    .select {
        width: 100%;
        height: 100%;
        border-bottom: 2px solid var(--color-on-background-light);
    }

    label {
        left: 0;
        color: var(--color-on-background-light);
        position: absolute;
        user-select: none;
    }

    label.placeholder {
        bottom: 8px;
        font-size: 20px;
    }

    label.label {
        bottom: 40px;
        font-size: 15px;
    }

    .caret {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--color-on-background-light);
        transition: 0.3s;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    ul {
        list-style: none;
        padding: 4px;
        background: var(--color-foreground);
        border: 1px var(--menu-border) solid;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        color: var(--color-on-background);
        position: absolute;
        top: calc(100% + 3px);
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        display:none;
        transition: 0.2s;
        z-index: 2;
        max-height: 300px;
        overflow-y: scroll;
    }

    ul li {
        padding: 10px 8px;
        margin: 5px;
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
    }

    ul li:not(.active):hover {
        background: var(--menu-hover-background);
        color: var(--menu-hover-font-color);
    }

    ul > li.active {
        background: var(--menu-selected-background);
        color: var(--menu-selected-font-color);
    }

    .dropdown.active > ul {
        display: block;
        opacity: 1;
    }

    .dropdown.active > .select > label.label {
        color: var(--color-accent);
    }

    .dropdown.active > .select > .caret { 
        border-top: 6px solid var(--color-accent);
        transform: rotate(180deg);
    }

    .dropdown.active > .select {
        border-bottom: 2px solid var(--color-accent);
    }
</style>