<template>
    <Teleport to="#modals">
        <div v-if="visible" class="bg"></div>
        <div v-if="visible" class="modal" :style="modalDimensions">
            <div class="modal-header">
                <div class="modal-header-left">
                    <h1>{{ title }}</h1>
                </div>
                <div class="modal-header-right">
                    <ImageButton @click="onClickClose">
                        <CloseIcon :height="18" :width="18"></CloseIcon>
                    </ImageButton>
                </div>
            </div>
            <div class="modal-content">
                <slot name="content"></slot>
            </div>
            <div v-if="hasActions" class="modal-actions">
                <slot name="actions"></slot>
            </div>
        </div>
    </Teleport>
</template>

<script setup lang="ts">
    import { useSlots, computed } from 'vue';
    import ImageButton from './ImageButton.vue';
    import CloseIcon from '@/assets/icons/CloseIcon.vue';

    const slots = useSlots();
    const hasActions = computed(() => !!slots.actions);

    const props = defineProps({
        title: {
            type: String,
            default: ''
        },
        closeable: {
            type: Boolean,
            default: true
        },
        visible: {
            type: Boolean,
            default: false
        },
        height: {
            type: Number,
            default: 400
        },
        width: {
            type: Number,
            default: 500
        }
    });

    const emit = defineEmits<{
        (e: 'close'): void
    }>();

    const modalDimensions = computed(() => {
        return {
            'height': `${props.height}px`,
            'width': `${props.width}px`
        };
    });

    const onClickClose = () => {
        emit('close');
    };
</script>

<style scoped>
    .bg {
        display: block;
        height: 100dvh;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        background-color: var(--color-modal-blur);
        opacity: 0.4;
    }
    .modal {
        height: 250px;
        width: 500px;
        position: fixed;
        display: flex;
        z-index: 1001;
        flex-direction: column;
        left: 50%;
        top: 150px;
        transform: translateX(-50%);
        transition: height 0.2s;
    }

    .modal-header {
        height: 50px;
        min-height: 50px;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        flex-grow: 0;
        background-color: var(--color-app-bar);
        border-bottom: 1px solid var(--color-app-bar-border);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .modal-content {
        flex-grow: 1;
        background-color: var(--color-background);
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }

    .modal-header-left {
        width: 50%;
        padding-left: 10px;
    }

    .modal-header-right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .modal-actions {
        height: 50px;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
        gap: 10px;
        flex-grow: 0;
        background-color: var(--color-app-bar);
        border-top: 1px solid var(--color-app-bar-border);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    h1 {
        color: var(--color-heading);
        font-size: 24px;
        left: 10px;
        -webkit-user-select: none;      
        -moz-user-select: none;
        user-select: none;
    }

    /* TODO: redo won´t work forever width can be set from outside */
    @media only screen and (max-width: 550px) {
        .modal {
            width: calc(100% - 40px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
</style>