<template>
    <input ref="fileInput" type="file" @change="onFileChange" />
    <div class="container-file-input">
        <TextInput v-model:value="pathString" label="Selected File" name="file-upload" :readonly="true" />
        <AppButton @click="onClickBrowse">
            <FolderIcon :height="20" :width="20"/>
        </AppButton>
    </div>
</template>

<script setup lang="ts">
import TextInput from './TextInput.vue';
import AppButton from './AppButton.vue';
import FolderIcon from '@/assets/icons/FolderIcon.vue';
import { ref } from 'vue';

const file = ref<File | null>();
const fileInput = ref<InstanceType<typeof HTMLInputElement>>();
const pathString = ref('');

function onClickBrowse() {
    fileInput.value?.click();
}

function onFileChange(e: Event) {
    const newSelection = (e.target as HTMLInputElement).files?.item(0);

    if(!newSelection) {
        file.value = null; 
        pathString.value = '';
        return;
    }
    file.value = newSelection;
    pathString.value = newSelection.name;
}

function getFile(): File | null {
    return file.value || null;
}

defineExpose({ getFile });
</script>

<style scoped>
    input[type=file] {
        display: none;
    }
    .container-file-input {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: flex-end;
    }
    .container-file-input > *:first-child {
        max-width: 300px;
    }
</style>