<template>
    <button class="image-button" :title="title">
        <slot></slot>
    </button>
</template>

<script setup lang="ts">
defineProps({
    title: {
        type: String,
        default: ''
    }
});
</script>

<style scoped>
    .image-button {
        background-color: transparent;
        height: 32px;
        width: 32px;
        position: relative;
        color: var(--color-image-button);
        transition: box-shadow .1s;
        overflow: hidden;
    }
    .image-button:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        background-color: rgb(192,192,192);
        cursor: pointer;
        color: var(--color-image-button-hover);
    }
    .image-button {
        border-radius: 50%;
    }
</style>

<style>
    .image-button > svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>