<template>
    <canvas ref="qrCanvas"></canvas>
</template>

<script setup lang="js">
import { ref } from 'vue';
import QRCode from 'qrcode';

const qrCanvas = ref();

const generate = (content) => {
    return new Promise((resolve, reject) => {
        QRCode.toCanvas(qrCanvas.value, content, function(error) {
            if(error) {
                reject(error);
                return;
            }
            resolve();
        });
    });
};

defineExpose({ generate });
</script>