<template>
    <div class="text-area" :class="value ? 'text-area-filled' : ''" :style="`height: ${height}px`">
        <textarea v-model="value" :name="name" autocomplete="off" :style="resizeable ? 'resize:both' : 'resize:none'" :spellcheck="spellcheck"></textarea>
        <label :for="name">{{ label }}</label>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

defineProps({
    label: {
        type: String,
        default: ''
    },
    name: {
        type: String,
        default: ''
    },
    resizeable: {
        type: Boolean,
        default: false
    },
    height: {
        type: Number,
        default: 135
    },
    spellcheck: {
        type: Boolean,
        default: false
    }
});

const value = ref("");

function clear(): void {
    value.value = '';
}

function getValue(): string {
    return value.value;
}

defineExpose({ clear, getValue });
</script>

<style scoped>
    .text-area {
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        
    }

    .text-area > textarea {
        width: 100%;
        height: calc(100% - 20px);
        outline: 0;
        font-size: 20px;
        line-height: 100%;
        background: transparent;
        border-bottom: 2px solid var(--color-on-background-light);
        transition: border-color 0.2s;
        color: var(--color-on-background-light);
        box-sizing: border-box;
        margin-top: 20px;
        vertical-align: top;
        font-family: 'Roboto';
    }

    .text-area > label {
        top: 8px;
        left: 0;
        font-size: 20px;
        position: absolute;
        pointer-events: none;
        transition: all 0.2s ease;
        color: var(--color-on-background-light);
    }

    .text-area > textarea:focus + label,
    .text-area-filled > label {
        top: 0px;
        font-size: 15px;
    }

    .text-area > textarea:focus + label {
        color: var(--color-accent);
    }

    .text-area > textarea:focus {
        border-bottom-color: var(--color-accent);
    }

</style>

