<template>
    <button class="textButton">{{ text }}</button>
</template>

<script setup lang="ts">
defineProps({
    text: {
        type: String,
        default: ''
    }
});
</script>

<style scoped>
    .textButton {
        font-family: 'Roboto';
        background: transparent;
        color: var(--color-accent);
        font-size: 16px;
    }

    .textButton:hover {
        cursor: pointer;
        filter: brightness(90%);
    }
</style>