<template>
    <div class="text-input" :class="classList">
        <input 
            :value="value"
            :type="type" 
            :name="name" 
            :autocomplete="autocomplete" 
            :spellcheck="spellcheck" 
            :readonly="readonly"
            @input="onTextChanged" />
        <label :for="name">{{ label }}</label>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps({
    type: {
        type: String,
        default: 'text'
    },
    label: {
        type: String,
        default: ''
    },
    name: {
        type: String,
        default: ''
    },
    spellcheck: {
        type: Boolean,
        default: false
    },
    autocomplete: {
        type: String,
        default: 'off'
    },
    readonly: {
        type: Boolean,
        default: false
    },
    value: {
        type: String,
        default: ''
    }
});

const emit = defineEmits<{
    (e: 'update:value', value: string): void
}>();

const onTextChanged = (e: Event) => {
    const element = e.target as HTMLInputElement;
    emit('update:value', element.value);
};

const classList = computed(() => {
    let str = '';
    if(props.value != '') str += 'text-input-filled';
    if(props.readonly) {
        if(str != '') str += ' text-input-readonly';
        else str += 'text-input-readonly';
    }
    return str;
});

</script>

<style scoped>
    .text-input {
        width: 100%;
        height: 55px;
        padding:0;
        margin:0;
        position: relative;
    }

    .text-input > input {
        width: 100%;
        height: 100%;
        outline: 0;
        font-size: 20px;
        line-height: 100%;
        background: transparent;
        border-bottom: 2px solid var(--color-on-background-light);
        transition: border-color 0.2s;
        color: var(--color-on-background-light);
        box-sizing: border-box;
        font-family: 'Roboto';
    }

    .text-input > label {
        bottom: 8px;
        left: 0;
        font-size: 20px;
        position: absolute;
        pointer-events: none;
        transition: all 0.2s ease;
        color: var(--color-on-background-light);
    }

    .text-input:not(.text-input-readonly) > input:focus + label,
    .text-input-filled > label {
        bottom: 40px;
        font-size: 15px;
    }

    .text-input:not(.text-input-readonly) > input:focus + label {
        color: var(--color-accent);
    }

    .text-input:not(.text-input-readonly) > input:focus {
        border-bottom-color: var(--color-accent);
    }

</style>

