<template>
    <button @click="toggle" :class="enabled ? 'on' : 'off'" arial-label="Toggle theme">
        <div class="circle">
            <slot name="enabled" v-if="enabled"></slot>
            <slot name="disabled" v-else></slot>
        </div>
    </button>
</template>

<script setup lang="ts">
const props = defineProps({
    enabled: {
        type: Boolean,
        default: false
    }
});

const emit = defineEmits<{
    (e: 'update:enabled', value: boolean): void,
    (e: 'onChanged', value: boolean): void
}>();

function toggle() {
    const newValue = !props.enabled;
    emit('update:enabled', newValue);
    emit('onChanged', newValue);
} 
</script>

<style scoped>
button {
    width: 40px;
    height: 20px;
    box-sizing: content-box;
    border-radius: 36px;
    border: 1px solid var(--color-toggle-border);
    position: relative;
    background-color: var(--color-toggle-background);
}

button:hover {
    cursor: pointer;
    border-color: var(--color-toggle-border-hover);
}

.circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    transition: left .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.on > .circle {
    left: 20px;
}
</style>