<template>
    <div class="container-totp-input">
        <input 
            v-for="(digit, index) in digits"
            v-bind:key="index" 
            ref="inputs" 
            class="totp-digit"
            :class="error ? 'totp-digit-error' : ''"
            type="number"
            @keydown="onKeyDown"  
            @focus="moveFocus"
            @paste="onPaste"
            @input="onInput"
            :value="digit" />
    </div>
</template>

<script setup lang="ts">
    import { ref, reactive, watch } from 'vue';

    const digits = reactive<Array<string | null>>(new Array(6).fill(null));
    const inputs = ref<Array<HTMLInputElement>>();
    const error = ref(false);

    const extractSingleDigitOrNull = (x: string | null) => {
        if(x == null || x == undefined) return null;
        for(const c of x) {
            if(c >= '0' && c <= '9') return c;
        }
        return null;
    }

    watch(digits, () => {
        const nullIndex = digits.indexOf(null);
        let done = nullIndex < 0;

        for(let i = 0; i < digits.length; i++) {
            if(!digits[i]) continue;

            if(nullIndex >= 0 && i > nullIndex) {
                digits[i] = null;
                done = false;
                continue;
            }

            if(digits[i]?.length == 0) {
                digits[i] = null;
                done = false;
                continue;
            }

            if(digits[i]!.length > 0) {
                const singleDigit = extractSingleDigitOrNull(digits[i]);
                if(digits[i] != singleDigit) {
                    digits[i] = singleDigit;
                    if(singleDigit == null) {
                        done = false;
                    }
                    continue;
                }
            }
        }

        moveFocus();
        if(digits[digits.length - 1] == null && error.value === true) {
            error.value = false;
        }

        if(done) {
            emit('onCodeComplete', digits.join(''));
        }
    });

    const emit = defineEmits<{
        (e: 'onCodeComplete', code: string): void
    }>();

    const onKeyDown = (e: KeyboardEvent) => {
        e.preventDefault();

        const key = e.key;

        if(key >= "0" && key <= "9") {
            const index = digits.indexOf(null);
            if(index < 0) {
                return;
            }
            digits[index] = key;
            return;
        }

        if(key == "Backspace") {
            for(let i = digits.length - 1; i >= 0; i--) {
                if(digits[i] == null) continue;
                digits[i] = null;
                break;
            }
            return;
        }
    };

    const pasteText = (text: string) => {
        let digitsIndex = 0;
        for(let i = 0; i < text.length; i++) {
            const c = text[i];
            if(c >= '0' && c <= '9') {
                digits[digitsIndex] = c;
                digitsIndex++;
                if(digitsIndex >= digits.length) return;
            }
        }
    };

    const onPaste = (event: ClipboardEvent) => {
        event?.preventDefault();
        if(!event?.clipboardData) return;
        clear();
        const text = event.clipboardData.getData('text');
        pasteText(text);
    };

    const onInput = (e: Event) => {
        if(!e?.target) return;
        const elem = (e.target as HTMLInputElement);

        const text = elem.value;
        if(text.length > 1) {
            pasteText(text);
        }
    };

    const moveFocus = () => {
        let index = digits.indexOf(null);
        if(index < 0) index = digits.length - 1;

        if(inputs.value) {
            inputs.value[index].focus();
        }
    };

    const showError = () => {
        error.value = true;
    };

    const clear = () => {
        error.value = false;
        if(!digits) return;
        for(let i = 0; i < digits.length; i++) {
            digits[i] = null;
        }
    };

    defineExpose({ showError, clear, focusInput: moveFocus, pasteHandler: onPaste });
</script>

<style scoped>
    .container-totp-input {
        display: flex;
        gap: 5px;
    }

    .totp-digit {
        width: 50px;
        height: 50px;
        border: 2px solid;
        border-color: var(--totp-input-border-color);
        border-radius: 6px;
        font-family: 'Roboto';
        color: var(--color-on-background-light);
        background-color: var(--totp-input-background);
        user-select: none;
        -moz-user-select: none;
        caret-color: transparent;
        font-size: 16px;
        text-align: center;
    }

    .totp-digit:hover {
        cursor: pointer;
    }

    .totp-digit:focus {
        outline: none;
        box-shadow: 0 0 1px var(--color-accent);
    }

    .totp-digit:not(.totp-digit-error):focus {
        border: 2px solid var(--color-accent);
    }

    .totp-digit-error {
        animation: shake 0.2s normal 0s 2;
        border: 2px solid var(--color-danger);
    }
          
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button 
    {
        -webkit-appearance: none;
        margin: 0;
    }
        
    input[type="number"] {
        -moz-appearance: textfield;
    }

    @keyframes shake {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(4deg); }
        50% { transform: rotate(0eg); }
        75% { transform: rotate(-4deg); }
        100% { transform: rotate(0deg); }
    }

    @media only screen and (max-width: 382px) {
        .totp-digit { 
            width: 40px;
            height: 40px;
        }
    }
    @media only screen and (max-width: 320px) {
        .totp-digit {
            width: 35px;
            height: 35px;
        }
    }
</style>