<template>
    <div ref="vncContainer" class="vnc-container">
        <ClipboardModal ref="modal" v-on:submit="onSubmitClipboard" />
        <div id="vncViewer" class="vnc-viewer"></div>
        <div class="background">
            <label>Not connected</label>
            <AppButton @click="onClickReconnect" text="Reconnect"></AppButton>
        </div>
    </div>
</template>

<script setup lang="js">
import RFB from '@novnc/novnc/core/rfb.js';
import AppButton from '@/components/controls/AppButton.vue';
import ClipboardModal from '@/components/dialogs/ClipboardModal.vue';
import { useAuthStore } from '@/store/auth';
import { useVncStore } from '@/store/vnc';
import authEndpoint from "@/api/AuthEndpoint";
import { onMounted, onBeforeMount, onBeforeUnmount, ref } from 'vue';
import { showAlert } from './dialogs/Dialogs';

const authStore = useAuthStore();
const vncStore = useVncStore();
const vncContainer = ref('vncContainer');

const VNC_URL = import.meta.env.VITE_VNC_URL ??
    `${window.location.protocol === 'https:' ? 'wss://' : 'ws://'}${window.location.host}/websockify`;
let rfb = null;
const isConnected = ref(false);
const modal = ref();

onMounted(async () => {
    await connectToServer({
        resolution: vncStore.resolution ?? vncStore.defaultResolution,
        quality: vncStore.quality ?? 6,
        compressionLevel: vncStore.compressionLevel ?? 2
    });
});

onBeforeMount(() => {
    document.addEventListener('onClickClipboard', onClickClipboard);
});

onBeforeUnmount(() => {
    document.removeEventListener('onClickClipboard', onClickClipboard);
});

function onConnected() {
    isConnected.value = true;
    const container = document.getElementById('vncViewer');
    if(container) container.style.display = 'block';
}

function onDisconnected() {
    isConnected.value = false;
    const container = document.getElementById('vncViewer');
    if(container) container.style.display = 'none';
}

function onError(e) {
    console.log('error', e);
}

function onClickReconnect() {
    connectToServer({
        resolution: vncStore.resolution ?? vncStore.defaultResolution,
        quality: vncStore.quality ?? 6,
        compressionLevel: vncStore.compressionLevel ?? 2
    });
}

function onClickClipboard() {
    modal.value?.show();
}

function onSubmitClipboard(value) {

    if(!isConnected.value) {
        showAlert({ message: 'VNC not connected, cannot paste Clipboard.' });
        return;
    }

    rfb.clipboardPasteFrom(value);
}

async function connectToServer(settings) {

    if(authStore.authRequired && !authStore.loggedIn) {
        authStore.logout();
        return;
    }

    if(authStore.authRequired && authStore.isTokenExpired()) {
        const token = authStore.token;
        const refreshToken = authStore.refreshToken;

        const response = await authEndpoint.refreshToken({token, refreshToken});

        if(response.status !== 200 || !response.data.success || !response.data.token || !response.data.refreshToken) {
            // check again in case token was refreshed by something else
            if(authStore.isTokenExpired()) {
                authStore.logout();
                return;
            }
            
        } else {
            authStore.setJwt(response.data.token, response.data.refreshToken);
        }
    }

    vncContainer.value.style.height = `${settings.resolution.height}px`;
    vncContainer.value.style.width = `${settings.resolution.width}px`;

    const element = document.getElementById('vncViewer');
    element.innerHTML = '';
    if(authStore.authRequired) {
        rfb = new RFB(element, `${VNC_URL}?token=${authStore.token}`);
    } else {
        rfb = new RFB(element, VNC_URL);
    }

    rfb.addEventListener("connect", onConnected);
    rfb.addEventListener("disconnect", onDisconnected);
    rfb.addEventListener('onerror', onError);
    rfb.shared = true;
    rfb.viewOnly = false;
    /* Is a boolean indicating if the remote session should be scaled locally so it fits its container. 
        When disabled it will be centered if the remote session is smaller than its container, or handled according to clipViewport if it is larger. Disabled by default. */
    rfb.scaleViewport = false;
    /* Is a boolean indicating if a request to resize the remote session should be sent whenever the container changes dimensions. Disabled by default. */
    rfb.resizeSession = true;
    /* Is an int in range [0-9] controlling the desired JPEG quality. Value 0 implies low quality and 9 implies high quality. Default value is 6. */
    rfb.quality = settings.quality;
    /* Is an int in range [0-9] controlling the desired compression level. Value 0 means no compression. 
        Level 1 uses a minimum of CPU resources and achieves weak compression ratios, 
        while level 9 offers best compression but is slow in terms of CPU consumption on the server side. 
        Use high levels with very slow network connections. Default value is 2. */
    rfb.compressionLevel = settings.compressionLevel;
}
</script>

<style scoped>
    .vnc-container {
        height: 768px;
        width: 1280px;
        position: relative;
    }
    .vnc-container > .vnc-viewer {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .vnc-container > .background {
        background-color: black;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .vnc-container > .background > label {
        color: #808080;
        font-size: 26px;
    }
</style>