<template>
    <div v-if="isVisible" class="dot-flashing"></div>
</template>

<script setup lang="ts">
defineProps({
    isVisible: {
        type: Boolean,
        default: false
    }
});
</script>

<style scoped>
    .dot-flashing {
        position: relative;
        width: 10px;
        height: 10px;
        margin-left: 16px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: var(--color-accent);
        color: var(--color-accent);
        animation: dotFlashing 1s infinite linear alternate;
        animation-delay: .5s;
    }

    .dot-flashing::before, .dot-flashing::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .dot-flashing::before {
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--color-accent);
        color: var(--color-accent);
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 0s;
    }

    .dot-flashing::after {
        left: 15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--color-accent);
        color: var(--color-accent);
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 1s;
    }

    @keyframes dotFlashing {
        0% {
            background-color: var(--color-accent);
        }
        50%,
        100% {
            background-color: #ebe6ff;
        }
    }
</style>