<template>
    <div v-if="visible" class="console">
        <div class="console-content">
            <div class="console-row" v-for="(text, index) in data" :key="index">
                <span class="console-row-number">{{ index + 1 }}</span> {{ text }}
            </div>
        </div>

        <div class="console-bottom">
            <div v-if="statusCode === null" class="console-loading">
                <LoadingDots :is-visible="visible" />
            </div>
            <div class="exitcode error" v-if="statusCode !== null && statusCode < 0">
                Command exited with status code: {{ statusCode }}
            </div>
            <div class="exitcode success" v-if="statusCode !== null && statusCode >= 0">
                Command completed successfully!
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import LoadingDots from '@/components/loading/LoadingDots.vue';

const visible = ref(false);
const statusCode = ref<number | null>(null);

const data = ref<string[]>([]);

function show() {
    visible.value = true;
}

function hide() {
    visible.value = false;
    data.value = [];
    statusCode.value = null;
}

function updateData(newData: string[], exitCode: number | null = null) {
    data.value = newData;
    statusCode.value = exitCode; 
}

defineExpose({ show, updateData, hide });
</script>

<style scoped>
    .console {
        height: 250px;
        width: 600px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        flex-direction: column;
        background-color: black;
        border-radius: 8px;
        overflow: hidden;
    }
    .console-content {
        overflow-y: scroll;
    }

    .console-row {
        color: white;
        font-family: "Roboto";
        margin-left: 5px;
        margin-right: 5px; 
    }

    .console-row-number {
        color: #808080;
        text-align: right;
        display: inline-block;
        min-inline-size: 28px;
        padding-right: 5px;
    }

    .exitcode {
        font-family: 'Roboto';
    }
    .exitcode.success {
        color: var(--color-success);
    }

    .exitcode.error {
        color: var(--color-danger);
    }

    .console-bottom {
        margin-left: 40px;
        margin-top: 4px;
        margin-bottom: 8px;
    }
</style>