<template>
    <div class="data-table">
        <div class="table-header">
            <label>{{ heading }}</label>
            <div class="table-header-actions">
                <slot name="actions"></slot>
            </div>
        </div>
        <div class="table-wrapper" :style="wrapperStyle">
            <!-- to display header background when header width is less than table width -->
            <div class="header-background"></div>

            <table>
                <thead>
                    <tr v-for="headerGroup in table.getHeaderGroups()" :key="headerGroup.id">
                        <th v-for="header in headerGroup.headers"
                            @click="header.column.getToggleSortingHandler()?.($event)"
                            :key="header.id"
                            :colSpan="header.colSpan"
                            :class="header.column.getCanSort() ? 'sortable-header' : ''"
                            :style="`width: ${header.column.getSize()}px`">
                            <template v-if="!header.isPlaceholder">
                                <label>
                                    <FlexRender
                                        :render="header.column.columnDef.header"
                                        :props="header.getContext()" />
                                </label>

                                <SortIndicator v-if="header.column.getCanSort()" :header="header" />

                                <ResizeBar v-if="header.column.getCanResize()" :header="header" />
                            </template>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="table.getRowModel().rows.length == 0" class="placeholder-row">
                        <label>{{ noDataText }}</label>
                    </tr>

                    <tr v-else v-for="row in table.getRowModel().rows" :key="row.id">
                        <td v-for="cell in row.getVisibleCells()" :key="cell.id" :style="`min-width: ${cell.column.getSize()}px; max-width: ${cell.column.getSize()}px;`">
                            <FlexRender
                                :render="cell.column.columnDef.cell"
                                :props="cell.getContext()"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script setup lang="ts">
import { FlexRender } from "@tanstack/vue-table";
import type { Table } from "@tanstack/vue-table";
import SortIndicator from '@/components/controls/table/SortIndicator.vue';
import ResizeBar from '@/components/controls/table/ResizeBar.vue';
import { computed } from 'vue';

interface TableProps {
    table: Table<unknown>, 
    heading: string,
    minHeight: number,
    maxHeight: number,
    noDataText: string
}

const props = withDefaults(defineProps<TableProps>(), {
    maxHeight: 250,
    minHeight: 0,
    heading: "",
    noDataText: "No Data"
});

const wrapperStyle = computed(() => {
    return {
        'max-height': `${props.maxHeight}px`,
        'min-height': `${props.minHeight}px`
    };
});
</script>

<style lang="postcss" scoped>
    .data-table {
        --data-table-border-thickness: 2px;
        --data-table-border-radius: 6px;
        background-color: var(--data-table-background);
    }

    .placeholder-row {
        height: 100px;
        position: relative;

        label {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: var(--color-on-background-light);
        }
    }

    .data-table {
        border: var(--data-table-border-thickness) solid var(--data-table-border-color);
        border-radius: var(--data-table-border-radius);

        .table-header {
            height: 46px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: 10px;
            margin-right: 10px;

            label {
                color: var(--color-heading);
                font-size: 24px;
            }
        }
    }

    .table-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        display: block;
        position: relative;

        .header-background {
            height: 37px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-width: 100%;
            background-color: var(--data-table-header-background);
        }
    }

    table {
        background-color: transparent;
        border-spacing: 0;
        border-collapse: collapse;
        border-bottom-left-radius: var(--data-table-border-radius);
        border-bottom-right-radius: var(--data-table-border-radius);
        table-layout: fixed;
        white-space: nowrap;

        thead, th {
            z-index: 1;
            position: sticky;
            top: 0;
        }

        thead, tbody {
            tr {
                display: flex;
                td, th {
                    font-family: 'Roboto';
                    text-align: left;
                    padding: 10px;
                    font-size: 14px;
                    border-top: none;
                    -moz-text-overflow: ellipsis;        
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                th {
                    color: var(--color-heading);
                    background-color: var(--data-table-header-background);
                    box-sizing: content-box;
                    border-radius: 0;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    position: sticky;
                }
                td {
                    height: 30px;
                    color: var(--color-on-background-light);
                }
                &:not(:last-child) {
                    td {
                        border-bottom: var(--data-table-border-thickness) solid var(--data-table-border-color);
                    }
                }
            }
        }

        thead, tfoot, tbody {
            overflow: hidden;
        }

        thead, tfoot, tbody, th, td {
            display: block;
            width: 100%;
        }

        thead, tfoot {
            -ms-overflow-style: none;
        }

        thead::-webkit-scrollbar, tfoot::-webkit-scrollbar
        {
            visibility: hidden;
        }

        tbody {
            position: relative;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        th:not(:last-child),
        td:not(:last-child)
        {
            border-right: none;
        }
    }

    .sortable-header,
    .sortable-header > label {
        cursor: pointer;
        user-select: none;
        position: relative;
    }
</style>