<template>
    <div class="spacer"></div>
    <div class="resizer" 
        @mousedown="handler" 
        @touchstart="handler"
        @click="(e) => { e.stopPropagation(); }"
        :class="header.column.getIsResizing() ? 'resizing' : ''"></div>
</template>

<script setup lang="ts">
import type { Header } from '@tanstack/vue-table';
import { computed } from 'vue';

const props = defineProps<{ 
    header: Header<unknown, unknown>
}>();

const handler = computed(() => {
    return props.header.getResizeHandler();
});
</script>

<style scoped>
.spacer {
    flex-grow: 1;
}
.resizer {
    width: 15px;
    height: 14px;
    background-color: transparent;
    border-radius: 50px;
}

.resizer:hover {
    cursor: col-resize;
}

.resizing {
    height: 14px;
    width: 6px;
    background-color: black;
}
</style>