<template>
    <div class="sort-indicator">
        <span :class="`sorted ${header.column.getIsSorted() as string}`"></span>         
    </div>
</template>

<script lang="ts" setup>
import type { Header } from '@tanstack/vue-table';

defineProps<{ 
    header: Header<unknown, unknown>
}>();
</script>

<style scoped>
    .sort-indicator {
        position: relative;
        width: 24px;
        height: 10px;
        display: inline-block;
    }

    .sorted {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--color-on-background-light);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        transform-origin: center 1px;
        padding: 0;
        margin: 0;
    }

    .sorted.asc {
        visibility: visible;
        transform: rotate(180deg);
        transition: 0.3s;
        display: block;
    }

    .sorted.desc {
        visibility: visible;
        transition: 0.3s;
        display: block;
    }
</style>