<template>
  <component :is="layout">
    <router-view/>
  </component>
</template>

<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();

const DEFAULT_LAYOUT = "default";
const layout = computed(() => `${route.meta.layout || DEFAULT_LAYOUT}-layout`);
const APP_NAME = import.meta.env.VITE_APP_NAME;

onMounted(() => {
  document.title = APP_NAME;
});
</script>

<style>
@import './styles/reset.css';
@import './styles/app.css';
</style>