<template>
    <AppModal title="Clipboard" :width="500" :height="350" v-on:close="onClickClose" :visible="visible">
        <template #content>
            <div class="container-clip">
                <TextArea ref="textArea" name="clipboard" label="Clipboard Content" :height="225"></TextArea>
            </div>
        </template>
        <template #actions>
            <AppButton text="Clear" background-color="var(--color-danger)" v-on:click="onClickClear"></AppButton>
            <AppButton text="Submit" v-on:click="onClickSubmit"></AppButton>
        </template>
    </AppModal>
</template>

<script setup lang="ts">
import TextArea from '@/components/controls/TextArea.vue';
import AppButton from '@/components/controls/AppButton.vue';
import AppModal from '../controls/AppModal.vue';
import { ref } from 'vue';

const visible = ref(false);
const textArea = ref<InstanceType<typeof TextArea>>();

const emit = defineEmits<{
    (e: 'submit', value: string): void
}>();

function onClickClose() {
    visible.value = false;
}

function onClickClear() {
    textArea.value?.clear();
}

function onClickSubmit() {
    const value = textArea.value?.getValue();
    if(value) emit('submit', value);
    visible.value = false;
}

function show() {
    visible.value = true;
}

defineExpose({ show });
</script>

<style scoped>
.container-clip {
    padding: 10px;
}
</style>