<template>
    <Teleport to="#modals">
        <div v-if="state.isVisible" class="dialog-background"></div>

        <div v-if="state.isVisible" class="dialog">
            <div class="dialog-header">
                <div class="dialog-header-left">
                    <h1>{{ state.title }}</h1>
                </div>
            </div>
            <div class="dialog-content">
                <p>{{ state.message }}</p>
            </div>
            <div class="dialog-actions">
                <!-- Alert Actions-->
                <TextButton v-if="state.type == 'Alert'" text="Ok" :onclick="onClickOk"></TextButton>

                <!-- Confirm Actions-->
                <TextButton v-if="state.type == 'Confirm'" text="No" :onclick="onClickNo"></TextButton>
                <TextButton v-if="state.type == 'Confirm'" text="Yes" :onclick="onClickYes"></TextButton>
            </div>
        </div>
    </Teleport>
</template>

<script setup lang="ts">
    import { reactive, onBeforeUnmount, nextTick, onMounted } from 'vue';
    import TextButton from '@/components/controls/TextButton.vue';
    import { queue, clearQueue, subscribe, unsubscribe } from './Dialogs';
    import type { Subscriber } from './Dialogs';

    interface CurrentState {
        isVisible: boolean,
        title: string,
        message: string,
        type: 'Alert' | 'Confirm',
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        resolve: any,
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        reject: any
    }
    
    const state = reactive<CurrentState>({
        isVisible: false,
        title: "",
        message: "",
        type: 'Alert',
        resolve: null,
        reject: null
    });

    const updateState = () => {
        const items = queue;
        if(items.length == 0) {
            state.isVisible = false;
            state.title = "";
            state.message = "";
            state.resolve = null;
            state.reject = null;
            return;
        }
        const nextItem = items[0];
        state.title = nextItem.dialog.title;
        state.message = nextItem.dialog.message;
        state.resolve = nextItem.resolve;
        state.reject = nextItem.reject;
        state.type = nextItem.dialog.type;
        state.isVisible = true;
    };

    const sub: Subscriber = {
        notifyNewDialog: () => {
            if(state.isVisible) return;
            updateState();
        }
    };

    onMounted(() => {
        subscribe(sub);
    });

    onBeforeUnmount(() => {
        unsubscribe(sub);
        clearQueue();
    });

    const onClickOk = () => {
        state.resolve();
        nextTick(updateState);
    };

    const onClickYes = () => {
        state.resolve(true);
        nextTick(updateState);
    };

    const onClickNo = () => {
        state.resolve(false);
        nextTick(updateState);
    };
</script>

<style scoped>
    .dialog-background {
        display: block;
        height: 100dvh;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--color-modal-blur);
        opacity: 0.4;
    }

    .dialog {
        height: 200px;
        width: 350px;
        position: fixed;
        display: flex;
        z-index: 1001;
        flex-direction: column;
        background-color: var(--color-background);
        border-radius: 20px;
        padding: 10px;
        left: 50%;
        top: 115px;
        transform: translateX(-50%);
    }
    .dialog-header {
        height: 50px;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        flex-grow: 0;
    }

    .dialog-content {
        flex-grow: 1;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dialog-content > p {
        color: var(--color-on-background);
        font-family: 'Roboto';
        word-wrap: break-word;
        overflow-y: scroll;
        max-height: 100px;
    }

    .dialog-header-left {
        flex-grow: 1;
        padding-left: 10px;
    }

    .dialog-header-right {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .dialog-actions {
        height: 50px;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
        gap: 20px;
        flex-grow: 0;
    }

    h1 {
        color: var(--color-heading);
        font-size: 24px;
        left: 10px;
        -webkit-user-select: none;      
        -moz-user-select: none;
        user-select: none;
    }
</style>